# Data en batch

In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [2]:
DATASET_URL = os.environ.get('DATASET_URL', 'https://storage.googleapis.com/humai-datasets/aws_s3/python_dev/5_Docker/ejercicios/bank-additional-full.csv')

POSTGRES_USER = os.environ.get('POSTGRES_USER', 'postgres')
POSTGRES_PASSWORD = os.environ.get('POSTGRES_PASSWORD', 'postgres')
POSTGRES_HOST = os.environ.get('POSTGRES_HOST', 'localhost')
# POSTGRES_HOST = os.environ.get(DATASET_URL, 'local_pgdb')
POSTGRES_DATABASE = os.environ.get('POSTGRES_DATABASE', 'bank')

SQLALCHEMY_DATABASE_URL = f'postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:5432/{POSTGRES_DATABASE}'
    
TABLE_NAME = 'clients'

In [ ]:
print('Leyendo el dataset')

In [4]:
bank_data_df = pd.read_csv(DATASET_URL, sep=';')

In [5]:
bank_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [6]:
print(bank_data_df.head(10))

   age          job  marital            education  default housing loan  \
0   56    housemaid  married             basic.4y       no      no   no
1   57     services  married          high.school  unknown      no   no
2   37     services  married          high.school       no     yes   no
3   40       admin.  married             basic.6y       no      no   no
4   56     services  married          high.school       no      no  yes
5   45     services  married             basic.9y  unknown      no   no
6   59       admin.  married  professional.course       no      no   no
7   41  blue-collar  married              unknown  unknown      no   no
8   24   technician   single  professional.course       no     yes   no
9   25     services   single          high.school       no     yes   no

     contact month day_of_week  ...  campaign  pdays  previous     poutcome  \
0  telephone   may         mon  ...         1    999         0  nonexistent
1  telephone   may         mon  ...         1    999         0  nonexistent
2  telephone   may         mon  ...         1    999         0  nonexistent
3  telephone   may         mon  ...         1    999         0  nonexistent
4  telephone   may         mon  ...         1    999         0  nonexistent
5  telephone   may         mon  ...         1    999         0  nonexistent
6  telephone   may         mon  ...         1    999         0  nonexistent
7  telephone   may         mon  ...         1    999         0  nonexistent
8  telephone   may         mon  ...         1    999         0  nonexistent
9  telephone   may         mon  ...         1    999         0  nonexistent

  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          1.1          93.994          -36.4      4.857       5191.0  no
1          1.1          93.994          -36.4      4.857       5191.0  no
2          1.1          93.994          -36.4      4.857       5191.0  no
3          1.1          93.994          -36.4      4.857       5191.0  no
4          1.1          93.994          -36.4      4.857       5191.0  no
5          1.1          93.994          -36.4      4.857       5191.0  no
6          1.1          93.994          -36.4      4.857       5191.0  no
7          1.1          93.994          -36.4      4.857       5191.0  no
8          1.1          93.994          -36.4      4.857       5191.0  no
9          1.1          93.994          -36.4      4.857       5191.0  no

[10 rows x 21 columns]

In [7]:
print('Escribiendo en base de datos')
engine = create_engine(SQLALCHEMY_DATABASE_URL)
bank_data_df.to_sql(name=TABLE_NAME, con=engine, if_exists='replace', index=False)

Escribiendo en base de datos

In [ ]:
# !pip install --upgrade nbconvert
# !jupyter nbconvert --to script batch-data.ipynb